@import '../YandexMap/YandexMap';

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;

  header {
    font-size: 1.3em;
  }

  .yandex_map {
    margin-top: 2em;
  }
}