@import '../Point/Point';

.point_list {
  list-style-type: none;
  padding: 0 3px 0 0;
  margin: 1em 0;
  max-height: 10em;
  overflow: auto;

  .point + .point {
    margin-top: 5px;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 3px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: gray;
  }
}