.point {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: gray;
  border-radius: 3px;
  padding: 5px 12px;

  &__status {
    font-size: 0.8em;
    padding: 3px 10px;
    border-radius: 3px;
    background-color: white;
    color: gray;
    margin-left: auto;
  }

  &__remove_button {
    margin-left: 0.5em;
    padding: 3px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}