@import '../SearchBlock/SearchBlock';

.yandex_map {
  padding: 1em;
  background-color: whitesmoke;
  border-radius: 3px;
  border: 1px solid rgb(200, 200, 200);

  .search_block {
    margin-bottom: 1em;
  }

  &__coords_container {
    list-style-type: none;
    padding: 0 3px 0 0;
    margin: 1em 0;
    max-height: 10em;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: lightgray;
      border-radius: 3px;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: gray;
    }

    li + li {
      margin-top: 5px;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      color: white;
      background-color: deepskyblue;
      border-radius: 3px;
      padding: 3px 10px;
    }
  }

  &__map_container {
    width: 80vw;
    height: 80vh;
    transition: all 150ms;
  }
}

@media (min-width: 768px) {
  .yandex_map {
    &__map_container {
      width: 50vw;
      height: 50vh;
    }
  }
}