@import '../SearchBlock/SearchBlock';
@import '../PointList/PointList';

.yandex_map {
  padding: 1em;
  background-color: whitesmoke;
  border-radius: 3px;
  border: 1px solid rgb(200, 200, 200);

  .search_block, .point_list {
    margin-bottom: 1em;
  }

  &__map_container {
    width: 80vw;
    height: 70vh;
    transition: all 150ms;
    border: 1px solid lightgray;
  }
}

@media (min-width: 768px) {
  .yandex_map {
    &__map_container {
      width: 50vw;
      height: 50vh;
    }
  }
}